<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="keywords" content="{{ with .Keywords }}{{ delimit . ", " }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
    
    <link rel="canonical" href="{{ .Permalink }}">
    
    <link rel="stylesheet" href="{{ "css/bootstrap/bootstrap.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/font-awesome/all.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}">
    
    {{ if .IsHome }}
    <link rel="alternate" type="application/rss+xml" href="{{ "index.xml" | absURL }}" title="{{ .Site.Title }}">
    {{ end }}
    
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
</head>
<body class="d-flex flex-column min-vh-100">
    {{ partial "header.html" . }}
    
    <main class="flex-grow-1">
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
    
    <script src="{{ "js/bootstrap/bootstrap.bundle.min.js" | absURL }}"></script>
</body>
</html>