<nav class="main-nav">
    <ul class="nav justify-content-center mb-0">
        {{ $site := .Site }}
        {{ $menuLen := len $site.Menus.main }}
        {{ range $index, $item := $site.Menus.main }}
        <li class="nav-item">
            <a href="{{ .URL }}" class="nav-link text-primary font-medium px-3 py-2">
                {{ .Name }}
            </a>
        </li>
        {{ if not (eq $index (sub $menuLen 1)) }}
        <li class="nav-item">
            <span class="nav-link disabled">|</span>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</nav>